@font-face {
    font-family: rakkas;
    src: url("../fonts/Rakkas-Regular.ttf");
}

@font-face {
    font-family: flatJooza;
    src: url("../fonts/flat-jooza.ttf");
}

* {
    transition: all .5s;
}

body {
    background: #A90A3D;
    font-family: flatJooza;
    margin-top: -50px;
}

.container {
    max-height: 800px;
    margin: 10% auto auto auto;
}

.header {
    font-family: rakkas;
    font-size: 7.2rem;
    text-align: center;
    color: #fff;
    text-shadow: -1px 6px 16px #3c3c3c;
    /*margin: 50px -20px;*/
}

.quotebox {
    background: #fff;
    max-width: 500px;
    min-height: 100px;
    box-shadow: 20px 20px 80px -30px black;
    border-radius: 30px;
    margin: 10px;
}

blockquote {
    border-right: 10px solid #A90A3D;
    margin: 30px 10px;
    padding: 10px 30px;
    text-align: justify;
}

blockquote:before {
    color: #ccc;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote h1,
h2,
h3,
p {
    display: inline;
    line-height: 40px;
}

.quotemark {
    position: relative;
    left: 7px;
    top: -10px;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #000;
}

.quotebutton {
    display: inline-block;
    padding: 6px 12px;
}

blockquote footer {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 10px;
    margin-top: 20px;
}

.btn {
    background: #A90A3D;
    margin-bottom: 10px;
    transition: all .5s;
}

.btn:focus,
.btn:active {
    box-shadow: none;
}

#quotesource:before {
    content: '—';
    color: #000;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    #quotetext {
        font-size: 25px;
    }
    .container {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 320px) {
    #quotetext {
        font-size: 18px;
    }
}
